@font-face {
    font-family: LeckerliOne-Regular;
    src: url(../fonts/LeckerliOne-Regular.ttf);
}

#brand {
    font-family: LeckerliOne-Regular;
    color:#FFF;
}


@font-face {
    font-family: LeckerliOne-Regular;
    src: url(../fonts/LeckerliOne-Regular.ttf);
}

#brand {
    font-family: LeckerliOne-Regular;
    color:#FFF;
}


@font-face {
    font-family: LeckerliOne-Regular;
    src: url(../fonts/LeckerliOne-Regular.ttf);
}

#brand {
    font-family: LeckerliOne-Regular;
    color:#FFF;
}


.theme_dark .course {
    background-color: #392e5c;
}

.course {
    box-shadow: inset 0 0 0 1px #7f00ac;
    width: 270px;
    height: 420px;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 12px;
}


